<div class="home-body">
  <div class="header-container-title">
    <h2 class="header-title">My Profile </h2>
  </div>


  <form class="form-horizontal" >
    <div class="ui-g" *ngIf="currentUser">

      <div class="ui-g-12 ui-md-6 ui-lg-2">
        <label>Full Name:</label>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-4">
        <input type="text" name="username" class="form-control" placeholder="Dhirendra Socrate Arjel"   style="width: 100%;"  readonly="true"
        />
      </div>
    </div>
  </form>
  <br>
  <!--changePassword-->

  <h4 class="box-title" style="margin: 8px">Change Password:</h4>
  <hr>
  <br>

  <form class="form-horizontal" >
    <div class="ui-g" *ngIf="profile">
      <div class="ui-g-12 ui-md-6 ui-lg-2">
        <label>Current Password:</label>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-4">
        <input type="password"  name="oldPassword" required class="form-control"  />
        <span >
       </span>
      </div>
    </div>
    <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-2">
        <label >New Password:</label>
        </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
        <input type="password"  validateEqualTo="confirmPassword1" name="password" minlength=6
          required class="form-control" style="width: 100%;"  />
        <span >
        </span>
      </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-2">
        <label>Confirm Password:</label>
        </div>      
      <div class="ui-g-12 ui-md-6 ui-lg-4">
        <input type="password" name="confirmPassword"   required class="form-control"
          style="width: 100%;" />
        <small *ngIf="!(profile.password === profile.confirmPassword)" style="color: red" >
          Password does't match.
        </small>
      </div>
    </div>
    <!-- /.box-body -->
    <div style="margin: 8px">
      <button pButton type="button" class="btn" [disabled]="!form.valid" (click)="updateUserPassword()" routerLink="/auth/login" style="height:40px" >Change Password</button>
    </div>
  </form>
</div>