<div class="main-body">
  <div class="login-page">
   <!--<p-messages  [(value)]="msgs" [closable]="false" class="login_msg_top"></p-messages>-->
    <div class="form-reset">
      <div *ngIf="message" class="{{message.cssClass}} text-center" style="color: red;">{{message.msg}}</div>
      <div class="panel-heading">Remote System Monitoring Tool</div>

      <div *ngIf="showLoading">
        <img style="margin-top:2%;margin-left:10%; height:90px" src="assets/img/processing.gif" />
      </div>
      <div >
      <form>
          
        <p class="message" style="color: black;font-size:20px;margin-left: 3px;">Reset Password</p>
      </form>
      <form class="login-form" #form="ngForm">
        <input class="reset-input" type="text" placeholder="Enter Username" name="userName" [(ngModel)]="loginModel.username" />

        <button pButton type="submit"  (click)="onSubmit()" class="resetpass" >Reset Password</button>


      </form>



      </div>

    </div>
  </div>
</div>

