<!-- <div class="home-body">
  <div style=" height: 50px;">
    <h3 style=" padding: 1% 1%; border-bottom: thin solid silver;">sample  List</h3>
    <div>

    </div>
  </div>
  <div class="ui-g">
    <div  class="ui-g-12" style=" padding: 9px 0; border-bottom: thin solid silver;margin-bottom: 19px;">
      <label  class="ui-g-6 ui-md-2 ui-lg-2">sample search :</label>

      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <input type="text"  name="password" class="form-control" >
      </div>
      <div style="margin-left: 5px;margin-top: 10px;">
        <button pButton id="submit_btn"  type="button" label="Search" ></button>
      </div>
    </div>
    <div  class="ui-g-12" style="width: 88%">
      <p-dataTable [value]="users" selectionMode="single" [(selection)]="SelectedValue" dataKey="userName">
        <p-column header="#">
          <ng-template let-i="rowIndex" pTemplate>
            {{i+1}}
          </ng-template>
        </p-column>
        <p-column field="userName" header="User Id"></p-column>
        <p-column field="fullName" header="Full Name"></p-column>
        <p-column field="active" header="Status"></p-column>
      </p-dataTable>
    </div>
  </div>
</div> -->
