<!-- <p-table  [value]="processInfo" [columns]="cols" [value]="proc1" [scrollable]="true" scrollHeight="500px"   >
        <ng-template pTemplate="header" >
        
       <tr *ngFor="let col of columns"  >
          <th>Pid</th>
          <th>CPU %</th>
          <th>Memory%</th>
          <th>Status</th>
          <th>RAM (MB)</th>
          <th>VMEM</th>
          <th>Swap</th>
          <th>Name</th>
        </tr>
           
      </ng-template>

      <ng-template pTemplate="body"  let-proc>
    
                <tr>
                        <td *ngFor="let col of columns"  >
                            {{proc[col.field]}}
                        </td>
                    </tr>
        
      </ng-template>
      </p-table> -->